<div class="row justify-content-md-center">
  <div class="page-header">
    <h2>Login</h2>
  </div>
</div>
<div class="row justify-content-md-center">
  <form class="col-lg-4">
    <div class="form-group">
      <label for="email">Email</label>
      <input #email type="email" id="email" class="form-control" />
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input #password type="password" id="password" class="form-control" />
    </div>

    <button (click)="login(email.value, password.value)" type="button" class="btn btn-primary">Login</button>
  </form>
  <div *ngIf="loginError" class="alert alert-danger">
    {{loginError}}
  </div>
</div>